.my__footer, .my__header {
    color: white;
    padding: 24px;
    margin: 0;
}

.my__header {
    background-color: darkblue;    
}

.my__footer {
    background-color: lightslategray;
}

.content {
    background-color: #fff;
    color: black;
    font-size: 14px;
}

.nav {
    background-color: lightblue;
}